.social-links {
    $this: &;

    align-items: center;
    color: $gray-10;
    display: flex;
    font-size: $font-size--xl;

    > * {
        margin-right: $distance--sm;
    }

    &__link {
        display: inline-block;
        transform: scale(1);
        transition: 150ms ease-out;

        &:hover {
            transform: scale(1.4);
        }

    }

}
